@model IEnumerable<Grading_SOH_Final_Rel.Models.Session>

@{
    ViewBag.Title = "Academic Unit";
}

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size:16px">
            <li class="sidebar-brand label-primary" style="padding-top:8px; font-size:20px;  font-weight:bold">
                <a href="#">
                    @ViewBag.Title
                </a>
            </li>
            <li>
                @Html.ActionLink("Statistics", "Index", "AdminUnit")
            </li>
            <li class="btn-success" style="text-decoration:solid; font-weight:bold">
                @Html.ActionLink("Academic Sessions", "Index", "Sessions")
            </li>
            <li>
                @Html.ActionLink("Academic Semisters", "Index", "Semisters")
            </li>
            <li>
                @Html.ActionLink("Departments", "Index", "Departments")
            </li>
            <li>
                @Html.ActionLink("Student Registration", "Index", "Students")
            </li>
            <li>
                @Html.ActionLink("Online Applicants", "Index", "Applicants")
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                
                <!--Icon to Show Menu on Small Devices-->
                <p>
                    <div class="hidden-lg hidden-md hidden-print">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Show/Hide
                        </a>
                    </div>
                </p>

                <!--TODO: My Content Here-->
                
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.SessionName)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SessionName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.SessionID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.SessionID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.SessionID })
                            </td>
                        </tr>
                    }

                </table>

                <p>
                    @Html.ActionLink("Create New", "Create", "Session", new { @class = "btn btn-primary" })
                </p>
                <!-- Footer -->
                <footer>
                    <div class="container body-content">
                        <hr />
                        <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size:16px">&copy; @DateTime.Now.Year - School of Hygiene Portal</p>
                    </div>
                </footer>
                <!-- /#Footer -->
            </div>
            
        </div>
    </div>
    <!-- /#page-content-wrapper -->



</div>

<!--Scripts Section-->
@section ScriptSection{
    <script>
        function OndataLabel(sender) {
            sender.data.location.x = sender.data.location.x + 20;
        }
        $("#controlarea").css("visibility", "visible");
    </script>
}
@section scripts{
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
}

