
@{
    ViewBag.Title = "Department Unit";
}

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size:16px">
            <li class="sidebar-brand label-primary" style="padding-top:8px; font-size:20px;  font-weight:bold">
                <a href="#">
                    @ViewBag.Title
                </a>
            </li>
            <li class="btn-success" style="text-decoration:solid; font-weight:bold">
                @Html.ActionLink("Overview", "Index", "DepartmentUnit")
            </li>
            <li>
                @Html.ActionLink("Students", "Index", "Students")
            </li>
            <li>
                @Html.ActionLink("Department Courses", "Index", "Courses")
            </li>
            <li>
                @Html.ActionLink("Course Registration", "Index", "CourseRegistration")
            </li>
            <li>
                @Html.ActionLink("Result Entry", "Index", "ResultEntry")
            </li>
            <li>
                @Html.ActionLink("Result Modification", "Index", "ResultModification")
            </li>
            <li>
                @Html.ActionLink("Result Printing", "Index", "ResultPrinting")
            </li>
            <li>
                @Html.ActionLink("Result Analysis", "Index", "ResultAnalysis")
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <!--Icon to Show Menu on Small Devices-->
                <p>
                    <div class="hidden-lg hidden-md hidden-print">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Show/Hide
                        </a>
                    </div>
                </p>

                <!--TODO: My Content Here-->
                <div>
                    @(Html.EJ().Chart("container").ChartArea(cr => cr.Border(ab => ab.Color("transparent")))
        .PrimaryXAxis(ax => ax.MajorGridLines(mr => mr.Visible(false)).MajorTickLines(mt => mt.Visible(false))
        .Title(tl => tl.Text("Year")).Range(ra => ra.Max(2000).Min(1900).Interval(10)))
        .PrimaryYAxis(pr => pr.AxisLine(ax => ax.Visible(false)).MajorTickLines(mt => mt.Visible(false))
        .Title(tl => tl.Text("Student Passed in Hundreds")).Range(ra => ra.Max(5).Min(2).Interval(0.5)))
        .Series(sr =>
            {
                sr.Points(pt =>
                    {
                        pt.X("1900").Y(4).Add();
                        pt.X("1920").Y(3.0).Add();
                        pt.X("1940").Y(3.8).Add();
                        pt.X("1960").Y(3.4).Add();
                        pt.X("1980").Y(3.2).Add();
                        pt.X("2000").Y(3.9).Add();
                    }).Name("Course A").Type(SeriesType.Area).EnableAnimation(true)
                      .Border(s1B => s1B.Color("transparent")).Opacity(0.5).Fill("#69D2E7").Add();

                sr.Points(pt =>
                {
                    pt.X("1900").Y(2.6).Add();
                    pt.X("1920").Y(2.8).Add();
                    pt.X("1940").Y(2.6).Add();
                    pt.X("1960").Y(3).Add();
                    pt.X("1980").Y(3.6).Add();
                    pt.X("2000").Y(3).Add();
                }).Name("Course B").Type(SeriesType.Area).EnableAnimation(true)
                  .Border(s2B => s2B.Color("transparent")).Opacity(0.5).Fill("#C4C24A").Add();

                sr.Points(pt =>
                {
                    pt.X("1900").Y(2.8).Add();
                    pt.X("1920").Y(2.5).Add();
                    pt.X("1940").Y(2.8).Add();
                    pt.X("1960").Y(3.2).Add();
                    pt.X("1980").Y(2.9).Add();
                    pt.X("2000").Y(2).Add();
                }).Name("Course C").Type(SeriesType.Area).EnableAnimation(true)
                  .Border(s3B => s3B.Color("transparent")).Opacity(0.5).Fill("#6A4B82").Add();
            })
        .IsResponsive(true)
        .Load("loadTheme")
        .Title(title => title.Text("Average Student Perferformance Comparison"))
        .Size(sz => sz.Height("600"))
        .Legend(lg => { lg.Visible(true); })
                    )
                    <script>
                        $("#controlarea").css("visibility", "visible");
                    </script>
                </div>


                <!-- Footer -->
                <footer>
                    <div class="container body-content">
                        <hr />
                        <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size:16px">&copy; @DateTime.Now.Year - School of Hygiene Portal</p>
                    </div>
                </footer>
                <!-- /#Footer -->
            </div>

        </div>

    </div>
    <!-- /#page-content-wrapper -->



</div>

@*@section ScriptSection{
    <script>
         function onchartload(sender) {
             loadTheme(sender);
             sender.model.primaryXAxis.majorGridLines.color = "#a9a9a9";
             sender.model.primaryXAxis.majorGridLines.opacity = 0.12;
             sender.model.primaryYAxis.majorGridLines.color = "#a9a9a9";
             sender.model.primaryYAxis.majorGridLines.opacity = 0.12;
         }
         $("#controlarea").css("visibility", "visible");
</script>
}*@
@section scripts{
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
}
